*{
    margin: 0;
}
element.style{
}
img{
max-width: 100%;
display:block;
height: auto;
margin: 0 auto;
}
body{
    font-family: poppins,sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    text-align: center;
    color: #3a3a3a;
}